body {
  font-family: "Open Sans", "sans-serif"; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: "Lobster", cursive; }

header h2 {
  color: #CEC8FF; }

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0; }

.jumbotron {
  /* This is a bootstrap defined class: */
  padding: 60px;
  /* to pad 30px to all four sides */
  background-image: linear-gradient(to right, #5637dd, #3046C5, #60106b);
  color: whitesmoke;
  margin: 0;
  /* as defined by jumbotron library, margin is at a value where it pushes itself from other items below */ }

.row-content {
  padding: 50px 0;
  /* border-bottom: 1px ridge; */
  min-height: 200px;
  /* 50px top and bottom and zero pixels left/right */ }

.nucamp {
  color: coral; }

/* From previous lesson, just borders: */
img {
  max-width: 100%;
  height: auto; }

.navbar {
  background-color: #901CAD; }

.tab-content {
  border: 1px solid #000;
  border-top: none;
  padding: 10px; }

.carousel-caption {
  /*carosel caption box - 0 0 0 means black and .5 means transparent*/
  background-color: color-black-transparent; }

.carousel {
  border: solid #5637dd; }

.carousel-item {
  min-height: 363px; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }
